#root{
    padding-left: 8px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
}
    @media(max-width:1000px){
        #root{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @media(max-width:700px){
        #root{
            grid-template-columns: repeat(1,1fr);
        }
    }
.card{
    border:2px solid black;
    border-radius: 20px;
    background-color:#E0E4EE;
    height:250;
    width:300;
    padding:10px;
    margin-block-end: 10px;
}
.img{
    height:100px;
    width:100px;
    border: 3px solid black;
}
.info_name{
    font-style: Arial;
    font-size: 20px;
}
.email{
    color:blue;
}
.na{
    height:100px;
    width:100px;
    line-height: 100px;
    border : 3px solid black;
    text-align: center;
    font-size: 50px;
    color:#eee;
}